

.category__container {
    height: auto;
    width: 100%;  
    margin-top:10rem;
}

.category {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category__header__container {
    height: max-content;
    width: 90%;
    margin:1rem auto;
    display: flex;
    align-items:baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__header__big {
    height: 40%;
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
}

.category__header h2{
    align-self: flex-start;
    font-size:2rem;
    font-weight: bolder;
}

.category__header__line {
    width: 100%;
    height: 6px;
    background-color: #FFE26E;
    align-self: flex-start;
    border-radius: 25px;
}

.category__sort {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
  .show__filter,.filter__by{
    margin: 4px;
}
.category__card__container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.category__product__card {
    height: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.show__more__action {
    width: 100%;
    height: 200px;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show__more__button {
    width: 200px;
    height: 25%;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #FFE26E;
    border-color: #FFE26E;
    border-style: dashed;
    font-weight:bold;
}

/* Dark mode: black background for category container */
.dark-mode .category__container {
    background-color: #000000;
}

/* Dark mode: white text for category headers */
.dark-mode .category__header h2 {
    color: #ffffff;
}

@media(max-width:768px){
    .category__container{
        margin-top: 6rem;
    }
}