.landing__container {
    width: 100%;
    min-height: 420px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: var(--bg-secondary);
    position: relative;
    margin-top: 9rem;
    border-bottom: 1px solid var(--border-color);
}


.landing__header a {
    text-decoration: none;
    color: var(--text-primary);
}

.landing__header__container {
    width: 40%;
    height: auto;
    min-height: 450px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing__header {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.landing__header__main {
    font-size: 2.8rem;
    font-weight: 800;
    color: var(--text-primary);
}

.landing__header__discount {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    color: var(--text-primary);
}

.landing__button {
    width: 60%;
    cursor: pointer;
    transition: .3s;
}

.landing__image__container {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove outline from all images in landing */
.landing__image__container img {
    outline: none !important;
    border: none !important;
}

/* Add black drop-shadow to hide dotted outlines around hero image */
.landing__image {
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
}

/* Dark mode: white drop-shadow for hero image */
.dark-mode .landing__image {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

.landing__image {
    height: auto;
    width: auto;
    top: 0%;
    z-index: 10;
    outline: none;
    border: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


@media screen and (max-width: 768px) {

    .landing__header__container {
        text-align: center;
    }

    .landing__header__discount {
        text-align: center;
        margin-left: 2.3rem;
    }

    .landing__image__container {
        display: none;
    }

    .landing__header a button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-left: 2.3rem;
    }

    
}