.landing__container {
    width: 100%;
    min-height: 420px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: #ffe26e;
    position: relative;
    margin-top: 10rem;
}


.landing__header a {
    text-decoration: none;
    color: #000;
}

.landing__header__container {
    width: 40%;
    height: auto;
    min-height: 450px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing__header {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.landing__header__main {
    font-size: 2.8rem;
    font-weight: 800;
    color: #2e2c2c;
}

.landing__header__discount {
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.landing__button {
    width: 60%;
    cursor: pointer;
    transition: .3s;
}

.landing__image__container {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__image {
    height: auto;
    width: auto;
    top: 0%;
    z-index: 10;
}


@media screen and (max-width: 768px) {

    .landing__container{
        margin-top: 9rem;
    }

    .landing__header__container {
        text-align: center;
    }

    .landing__header__discount {
        text-align: center;
        margin-left: 2.3rem;
    }

    .landing__image__container {
        display: none;
    }

    .landing__header a button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-left: 2.3rem;
    }

    
}