.navbrand__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 2rem;
}

.navbrand img {
  height: 200px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 2rem;
}

/* Hover effect */
.navbrand img:hover {
  transform: scale(1.05);
}

/* Dark mode compatibility (optional) */
body.dark-theme .navbrand img {
  filter: brightness(1.2);
}



@media (max-width:768px){
    .navbrand__container{
        height: 44px;
    }
}