.navbrand__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:6rem;
}
.navbrand{
  height: 8rem;
}
.navbrand img {
  height: 8rem;

  cursor: pointer;
  transition: transform 0.3s ease;

}

/* Hover effect */
.navbrand img:hover {
  transform: scale(1.05);
}

/* Dark mode compatibility (optional) */
body.dark-theme .navbrand img {
  filter: brightness(1.2);
}



@media (max-width:768px){
    .navbrand__container{
        height: 44px;
    }
}
