.product__carousel__container {
    height:20%;
    width: 45%;
    min-width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.product__carousel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 100%;
}

.carousel__image__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__image {
    max-width: 65%;
    height: auto;
    margin: 0;
    border-radius: 1rem;
}

@media screen and (max-width: 600px) {

    .carousel__image__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* .carousel-inner {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    margin: auto;
} */