.container {
  max-width: 500px;
  margin: 4rem auto !important;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 1.5rem #b6bec8;
  background-color: #fff;
  text-align: center;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

.container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.refund-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.refund-form input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #d1cdcd;
  border-radius: 8px;
}


.refund-form button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
}

.refund-form button:hover {
  background-color: #0b4684;
}
